h1 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 48px;
    text-decoration: underline;
}
ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    background-color: grey;
    width: 90%;
    max-width: 35rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
}

a {
    color: black;
}