h1 {
    color: #e8dede;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 48px;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: black;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 60px;
}