{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
<link rel="stylesheet" href=" {% static 'horoscope/css/elements.css' %}">
{% endblock %}


{% block title %}
Elements zodiacs
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
<h1>Elements apps</h1>
<ul>
    {% for element in elements_list %}
    <a href="{% url 'horoscope-elements' sign_element=element|lower %}"><img src="/static/horoscope/img/{{ element }}.jpg" alt="{{element}} image" width="250px"></a>
    {% endfor %}
</ul>
{% endblock %}