{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
<link rel="stylesheet" href=" {% static 'horoscope/css/elements.css' %}">
{% endblock %}


{% block title %}
Elements zodiacs
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
<h1>Elements apps</h1>
<ul>
    {% for element in elements_list %}
    <li><b> <a href="{% url 'horoscope-elements' sign_element=element|lower %}">{{ element }}</a> </b></li>
    {% endfor %}
</ul>
<center><img src="/static/horoscope/img/elements.jpg" alt="{{ zodiac.name }} Image", width="550px"></center>
{% endblock %}