{% extends 'base.html' %}
{% load static %}

{% block css_additional %}`
<link rel="stylesheet" href=" {% static 'horoscope/css/index.css' %}">
{% endblock %}


{% block title %}
Horoscope main
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}

<div class="all_zodiac_img">
     <img src="{% static 'horoscope/img/all_zodiac.jpg'%}" alt="zodiac" style="width:550px">
</div>
<h1>Horoscope apps</h1>
<ul>
    {% for zodiac in zodiacs %}
    <li><b> <a href="{% url 'horoscope-name' sign_zodiac=zodiac|lower %}">{{ zodiac.name|title }}</a> </b></li>
    {% endfor %}
</ul>
{% endblock %}
