{% extends 'base.html' %}
    {% load static %}
    {% block css_additional %}
`       <link rel="stylesheet" href=" {% static 'horoscope/css/info_zodiac.css' %}">
    {% endblock %}

    {% block title %}
        Horoscope for {{zodiac.name|capfirst}}
    {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <h1> {{ zodiac.name }}</h1>
    <h2>{{ zodiac.description }}</h2>
    <center><img src="/static/horoscope{{ zodiac.photo.url }}" alt="{{ zodiac.name }} Image"></center>
{% endblock %}